/* 
We have four different values for the position property in CSS:
1. static: this one is the HTML default positioning for elements. This one flows as they would in the normal document flow.
In this case, when we have different elements and we decide to add a new one, it will be added to the end of the document flow.
It also important to remember that this is the default value for the position property, therefore, we dont need to explicitly set it.

2. relative: in this case, the element is positioned relative to its normal position in the document flow.
When we use relative positioning, we can use the top, bottom, left, and right properties to move the element from its original position.
Therefore, the space originally occupied by the element in the document flow is preserved.

3. absolute: the position is relative to the nearest positioned ancestor (an ancestor with a position value other than static).
If we don't have any positioned ancestors, it will be positioned relative to the initial containing block (usually the top left corner of a webpage).
When we use absolute positioning, the element is removed from the normal document flow, meaning it does not affect the position of other elements.
Finally, the ancestor elements should have a position value of relative, absolute, or fixed for the absolute positioning to work as expected.

We can see this as a independent layer that we can move around freely without affecting other elements. Now, we can also change the 
z-index property to control the stacking order of these layers.

4. fixed: the position is relative to the viewport, which means it stays in the same place even when the page is scrolled.
Similar to absolute positioning, the element is removed from the normal document flow. Therefore, it does not affect the position of other elements on the page.


Each of these values affects how an element is positioned on a webpage.

*/