/*
If we remember, the paragraph element is a block-level element by default. 
Therefore it takes all the width of its parent container. So, in order to avoid this, for example,
if we want the next paragraph to take only the width of its content, we can change its display property 
to inline or inline-block.

One unique element that has a default display property of inline is the span element. And it can looked like this:

<p>This is a <span>span element</span> inside a paragraph.</p>

For the vast majority of elements, their default display property is block, it's a full width block which takes the same 
width as its parent container.

With inline elements we cannot set width and height properties, but with inline-block elements we can.
The reason of this is that inline-block elements are treated as block-level elements in terms of box model properties,
but they are still displayed inline with other elements and by default they only take the width of their content.

Finally, we have the property display: none, which completely removes the element from the document flow.
This type is useful when we want to hide elements without deleting them from the HTML structure. For example,
we can use it to create dropdown menus or modals that are initially hidden and then displayed when needed.
*/