/* Write your code here: */

/* In this case, we have the "group selector" */
h1, h2{
    color: blueviolet;
}

/* In this case, we have the "child selector" */
.box > p{
    color: firebrick;
}

/* In this case, we have the "descendant selector" */
.box li{
    color: blue;
}

/* In this case, we have the "chaining selector" */
li.done{
    text-decoration: line-through;
    color: seagreen;
}

/* Combining Descendant Selector with Chaining Selector */
ul p.done{
    font-weight: bold;
    font-size: 0.5rem;
}